<!-- display sensor data -->
<div class="row">
    <!-- graph design -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <div class="container padding mt-5 mb-5 p-3" id="sensor_data">
    </div>
    <script src="../js/loadData.js"></script>

</div>